from importlib.metadata import version, PackageNotFoundError
from .{{ project_id }} import {{ project_id }} as _

try:
    __version__ = version("{{ project_id }}")
except PackageNotFoundError:
    __version__ = "unknown"

__all__ = ["_", "__version__"]
