from importlib.metadata import version, PackageNotFoundError
from .{{ project_id }} import {{ project_id }} as _

try:
    __version__ = version("your_package_distribution_name")
except PackageNotFoundError:
    __version__ = "unknown"

__all__ = ["_", "__version__"]
